In [1]:
import os, sys
import pandas as pd

In [2]:
sys.path.append(f'{os.environ["USERPROFILE"]}\Marriott International\EMEA Analytics - Analytics Repository\_python\emea_packages')

from clean_tables import fix_my_tables_magic

In [3]:
df = fix_my_tables_magic(pd.read_csv('status_history_raw.csv'))

In [4]:
df.describe()

       candidate_id  position_id
count   6332.000000  6332.000000
mean     100.805749    10.175932
std       57.604627     6.116750
min        1.000000     1.000000
25%       52.000000     5.000000
50%       99.000000    10.000000
75%      147.000000    15.000000
max      200.000000    20.000000

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6332 entries, 0 to 6331
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   candidate_id  6332 non-null   object
 1   position_id   6332 non-null   Int64
 2   status        6332 non-null   string
 3   ts            6332 non-null   datetime64[ns]
 4   filename      6332 non-null   string
 5   file_date     6332 non-null   datetime64[ns]
dtypes: Int64(1), datetime64[ns](2), object(1), string(2)
memory usage: 303.1+ KB

In [8]:
df.candidate_id = df.candidate_id.astype('str')
df.ts = pd.to_datetime(df.ts)

In [29]:
df['file_date'] =  df.loc[:,'filename'].apply(lambda x:x[-23:-4])

In [31]:
df.file_date

0       2021-01-13_03-12-00
1       2021-01-13_03-12-00
2       2021-01-13_03-12-00
3       2021-01-14_03-09-00
4       2021-01-15_03-02-00
               ...
6327    2022-10-24_03-18-00
6328    2022-10-24_03-18-00
6329    2022-10-24_03-18-00
6330    2022-10-24_03-18-00
6331    2022-10-24_03-18-00
Name: file_date, Length: 6332, dtype: object

In [33]:
df.file_date = pd.to_datetime(df.file_date,format='%Y-%m-%d_%H-%M-%S')

In [61]:
df = df.drop(columns='filename')

In [71]:
df.loc[df.candidate_id == '36'].sort_values('file_date').set_index('candidate_id')

,position_id,status,ts,file_date
candidate_id,,,,
36,1,Profile Created,2021-01-12 11:54:45,2021-01-13 03:12:00
36,1,Profile Created,2021-01-12 11:54:45,2021-02-12 03:21:00
36,1,Application Completed,2021-02-11 11:26:27,2021-02-12 03:21:00
36,1,Profile Created,2021-01-12 11:54:45,2021-02-13 03:21:00
36,1,Application Completed,2021-02-11 11:26:27,2021-02-13 03:21:00
36,1,Application Reviewed,2021-02-12 12:10:23,2021-02-13 03:21:00
36,1,Profile Created,2021-01-12 11:54:45,2021-02-17 03:01:00
36,1,Application Completed,2021-02-11 11:26:27,2021-02-17 03:01:00
36,1,Application Reviewed,2021-02-12 12:10:23,2021-02-17 03:01:00
36,1,Phone Interview Requested,2021-02-16 12:06:54,2021-02-17 03:01:00
36,1,Phone Interview Scheduled,2021-02-20 12:33:26,2021-02-21 03:11:00
36,1,Application Reviewed,2021-02-12 12:10:23,2021-02-21 03:11:00
36,1,Phone Interview Requested,2021-02-16 12:06:54,2021-02-21 03:11:00
36,1,Profile Created,2021-01-12 11:54:45,2021-02-21 03:11:00
36,1,Application Completed,2021-02-11 11:26:27,2021-02-21 03:11:00
36,1,Profile Created,2021-01-12 11:54:45,2021-02-25 03:17:00
36,1,Application Completed,2021-02-11 11:26:27,2021-02-25 03:17:00
36,1,Application Reviewed,2021-02-12 12:10:23,2021-02-25 03:17:00
36,1,Phone Interview Requested,2021-02-16 12:06:54,2021-02-25 03:17:00
36,1,Phone Interview Scheduled,2021-02-20 12:33:26,2021-02-25 03:17:00
36,1,Phone Interview Completed,2021-02-24 11:36:06,2021-02-25 03:17:00
36,1,Phone Interview Completed,2021-02-24 11:36:06,2021-02-28 03:16:00
36,1,Profile Created,2021-01-12 11:54:45,2021-02-28 03:16:00
36,1,Application Completed,2021-02-11 11:26:27,2021-02-28 03:16:00
36,1,Application Reviewed,2021-02-12 12:10:23,2021-02-28 03:16:00
36,1,Phone Interview Requested,2021-02-16 12:06:54,2021-02-28 03:16:00
36,1,Phone Interview Scheduled,2021-02-20 12:33:26,2021-02-28 03:16:00
36,1,Phone Interview Terminated,2021-02-27 11:48:33,2021-02-28 03:16:00

Timestamp('2022-10-24 03:18:00')