In [23]:
# Imports
import os
import pandas as pd
import numpy as np
import datetime as dt
import shutil

In [24]:
# Download sheet

# shutil.copy(r'c:\Users\nprol195\Downloads\Strange table structure.xlsx',os.getcwd()+'\\Strange table structure.xlsx')

df = pd.read_excel('Strange table structure.xlsx')

In [25]:
yr = df.columns[0].split(' ')[-1]

In [26]:
# Get column names from multiple rows
level1 = df.loc[2]#.reset_index(drop=True)
level2 = df.loc[1]#.dropna().reset_index(drop=True)

clm_names = list(level1 + '_' + level2.ffill())
clm_names[0] = 'store'
df.columns = clm_names

In [27]:
# Filter nan rows
df = df.loc[(~df.store.isna()) & (df.store !='Store')]

In [28]:
vars =  ['store']
vals = [i for i in df.columns if i not in vars]
df = df.melt(id_vars=vars, value_vars=vals)

In [29]:
# transform date
df[['var','month']] = df.variable.str.split('_',expand=True)
df.month = df.month + yr
df.month = pd.to_datetime(df.month,format='%b%Y')

In [30]:
df = df.drop(columns='variable').pivot_table(  values='var',
        index=['store','month'],
        columns='var',
        aggfunc="sum").reset_index()

In [31]:
df

var         store      month  Profit  Sales
0         Dulwich 2022-01-01     762   9822
1         Dulwich 2022-02-01     299   4859
2         Dulwich 2022-03-01     760   3230
3         Dulwich 2022-04-01    -301   5386
4         Dulwich 2022-05-01    -125   9073
5         Dulwich 2022-06-01    -330   4952
6         Dulwich 2022-07-01     574   7273
7         Dulwich 2022-08-01    -795   9042
8         Dulwich 2022-09-01     474   1257
9         Dulwich 2022-10-01     539   6418
10       Lewisham 2022-01-01    -129   2909
11       Lewisham 2022-02-01     960   5393
12       Lewisham 2022-03-01    -446   6262
13       Lewisham 2022-04-01     -17   7443
14       Lewisham 2022-05-01    -658   6130
15       Lewisham 2022-06-01     877   6893
16       Lewisham 2022-07-01    -340   4814
17       Lewisham 2022-08-01     775   7549
18       Lewisham 2022-09-01     197   2888
19       Lewisham 2022-10-01    -172   2672
20   Notting Hill 2022-01-01     874   6100
21   Notting Hill 2022-02-01     202   5203
22   Notting Hill 2022-03-01     563   1048
23   Notting Hill 2022-04-01      86   5151
24   Notting Hill 2022-05-01     630   1896
25   Notting Hill 2022-06-01    -918   1768
26   Notting Hill 2022-07-01     552   8945
27   Notting Hill 2022-08-01     854   5904
28   Notting Hill 2022-09-01    -851   2621
29   Notting Hill 2022-10-01     656   9385
30      Wimbledon 2022-01-01     444   2263
31      Wimbledon 2022-02-01      27   8531
32      Wimbledon 2022-03-01     492   4855
33      Wimbledon 2022-04-01     -87   5505
34      Wimbledon 2022-05-01    -251   7592
35      Wimbledon 2022-06-01    -394   4659
36      Wimbledon 2022-07-01    -680   4519
37      Wimbledon 2022-08-01     284   8556
38      Wimbledon 2022-09-01     924   8782
39      Wimbledon 2022-10-01    -706   9679